html
    head
        title= titulo
    body
        h2= texto
        form(action="crearOp" method="get")= formBuscar
            p
                label(for="type")= labelType
                select(name="type" placeholder="Selecciona el tipo")
                    option(value="Store" default="default")= "Store"
                    option(value="Shelf")= "Shelf"
                    option(value="Product")= "Product"
                    option(value="InventoryItem")= "InventoryItem"
            p
                label(for="id")= labelId
                input(type="number" name="id" placeholder="Introduce la id" value="001")
            p
                label(for="name")= "Nombre: "
                input(type="input" name="name" placeholder="Introduce el nombre")
            p
                label(for="size")= "Tamaño: "
                input(type="input" name="size" placeholder="Introduce el tamaño")
            p
                label(for="price")= "Precio: "
                input(type="number" name="price" placeholder="Introduce el precio")
            p
                input(type="submit" value="Crear")
            p
                a(href="/")= "Volver atrás"
