html
    head
        title= titulo
    body
        h2= texto
        form(action="borrarOp" method="get")= formBuscar
            p
                label(for="type")= labelType
                select(name="type" placeholder="Selecciona el tipo")
                    option(value="Store" default="default")= "Store"
                    option(value="Shelf")= "Shelf"
                    option(value="Product")= "Product"
                    option(value="InventoryItem")= "InventoryItem"
            p
                label(for="id")= labelId
                input(type="number" name="id" placeholder="Introduce la id" value="001")
            p
                input(type="submit" value="Borrar")
            p
                a(href="/")= "Volver atrás"
