html
	head
		title= titulo
	body
		h2= "Selecciona una operación."
		p
			a(href="/crear")= "Crear un elemento."
		p
			a(href="/actualizar")= "Actualizar un elemento."
		p
			a(href="/buscar")= "Buscar un elemento."
		p
			a(href="/borrar")= "Eliminar un elemento."